*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background: linear-gradient(120deg, #73d4db 0%, #66a6ff 100%);
    font-size: 1.5em;
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5em;
}

h2, h3 {
    margin: 1em 0;
}

.inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(120deg, #73d4db 0%, #66a6ff 100%);
}

#landing {
    position: relative;
}

#landing img {
    position: absolute;
    left: 1em;
    top: 1em;
    width: 8em;
    border-radius: 130px;
}

#landing h1 {
    font-size: 5em;
    text-transform: uppercase;
}

#me {
    flex-direction: row;
    justify-content: space-around;
}

#me section:first-of-type {
    max-width: 30em;
}

#me h2,
#projecten h2 {
    margin-top: 1em;
}

#me img {
    width: 15em;
    border-radius: 10px;
}

#projecten {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

#projecten h2 {
    margin-left: 1em;
    margin-bottom: 0;
}

#proj_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-left: 1em;
    max-width: 90%;
}

#proj_wrapper a {
    color: #000;
    margin-bottom: 1em;
    margin-right: 1em;
}

.proj {
    border-radius: 1em;
    border: 1px solid black;
    overflow: hidden;
    max-width: 20em;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}

#proj_wrapper a:hover .proj {
    box-shadow: 2px 2px 3px;
    background: linear-gradient(120deg, #73d4db 0%, #34c1cb 100%);
    transition: .5s;
}

.proj img {
    max-width: 20em;
}

#proj_wrapper a:nth-child(2) img {
    max-width: 15em;
    margin: 0 auto;
    margin-top: 1em;
}

.proj section {
    align-self: flex-end;
}

.proj section p {
    padding: 0 1em;
}

#proj_wrapper a section p {
    margin-bottom: 1em;
}

#proj_wrapper a:nth-child(2) section p:first-of-type {
    margin: 0;
    color: red;
    text-transform: uppercase;

}

#contact {
    text-align: left;
    align-items: flex-start;
    padding-left: 2em;
    position: relative;
}

#contact a {
    color: #000;
    margin-bottom: 1em;
}

#contact p {
    font-weight: bold;
}

#contact section {
    margin-top: .5em;
}

#contact i {
    font-size: 2em;
    margin-right: .25em;
}

#contact a:first-of-type i:hover {
    /* https://stackoverflow.com/questions/43075853/linear-gradient-on-hover */
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 1s;
}

#contact a:last-of-type i:hover {
    color: #0066ff;
    transition: 1s;
}

#contact p:last-of-type {
    position: absolute;
    bottom: 1em;
    left: 45%;
}

/* tablet */
@media screen and (max-width: 1024px) {

    .docSlider-button {
        height: 2em;
        width: 2em;
        margin: 1em 0;
    }

    #landing h1 {
        font-size: 3.5em;
        margin: 0;
    }

    #me {
        flex-direction: column;
    }

    #me,
    #projecten {
        text-align: center;
    }

    #me h2 {
        margin-bottom: .5em;
    }

    #me section:first-of-type p {
        max-width: 80%;
        margin: 0 auto;
    }

    #projecten h2 {
        width: 100%;
        margin-left: 0;
    }

    #proj_wrapper {
        margin-bottom: 1em;
    }

        #proj_wrapper a {
        margin: 0 auto 1em auto;
    }

    #contact p:last-of-type {
        left: 36.5%;
    }
}

/* mobile */
@media screen and (max-width: 667px) {
    body {
        font-size: 1em;
    }

    .docSlider-pager {
        right: .5em;
    }

    .docSlider-button {
        height: 1.5em;
        width: 1.5em;
        margin: .5em 0;
    }

    #landing h1 {
        font-size: 2.5em;
    }

    #proj_wrapper {
        margin-left: 1em;
        margin-bottom: 2em;
    }

    #me section:first-of-type p {
        font-size: .75em;
    }

    #contact p:last-of-type {
        left: 30%;
    }
}
